.header {
    height: 80px;
    display: flex;
  }
  
  .header-port {
    border-bottom: 1px solid #ececec;
  }
  
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  
  .header-main {
    display: flex;
  }
  
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .navigation {
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    background-color: transparent;
    margin-right: 93px;
  }
  
  .logo-blue {
    color: var(--text-hover-color);
  }
  
  .logo-black {
    color: var(--main-text-color);
  }
  
  .menu__item {
    list-style: none;
    background-color: none;
  }
  
  .header__link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    background-color: transparent;
    padding-bottom: 30px;

      &:hover,
      :focus {
        fill: var(--text-hover-color);
        background-color: transparent;
    }
  }

  .header__link.current {
    color: var(--text-hover-color);
    list-style: none;
    background-color: none;
    position: relative;

      &::after {
        content: "";
        background-color: var(--text-hover-color);
        width: 100%;
        height: 4px;
        left: 0px;
        bottom: -2px;
        border-radius: 2px;
        position: absolute;
    }
  }
  
  
  
  .menu {
    display: flex;
    gap: 30px;
    text-align: center;
  }
  
  .menu__connect {
    display: flex;
    align-items: center;
    margin-left: 200px;
    justify-content: flex-end;
  }
  
  .connect__mail,
  .connect__number {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--text-contact);
    fill: currentColor;
  }
  
  .connect__mail {
    margin-right: 30px;
  }
  
  .menu__item:hover .connect__mail,
  .menu__item:focus .connect__mail {
    color: var(--text-hover-color);
    background-color: transparent;
  }
  
  .menu__item:hover .connect__number,
  .menu__item:focus .connect__number {
    color: var(--text-hover-color);
    background-color: transparent;
  }
  
  .connect {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    fill: currentColor;

        &:hover,
        &:focus {
      fill: var(--text-hover-color);
    }
  }
  
  .connect__icon-link:hover,
  .connect__icon-link:focus {
    fill: var(--text-hover-color);
  }
  
  .connect__icon {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
    // fill: var(--text-contact);

    .connect__icon-link &:focus,
    .connect__icon-link &:focus {
    fill: var(--text-hover-color);
  }
  
  
  }

  
  // .connect:hover .connect__icon,
  // .connect:focus .connect__icon {
  //   fill: var(--text-hover-color);
  //   background-color: transparent;
  // }